.about-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about-text{

}

.about-text-flex{
  display: flex;
  flex-direction: column;
  background: #4d537a;
}

.about-text-head{
  text-align: center;
  margin-top:40px;
  margin-bottom: 60px;
  position: relative;

}
.about-text-head:after{
  content: "";
  display: block;
  width:180px;
  height: 2px;
  top:50px;
  left:50%;
  transform: translate(-50%);
  position: absolute;
  background-color: $color-text-bright;
}


.about-text-text{
  margin: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba($color-text-bright, 0.3);
  border: 2px solid rgba($color-text-bright, 0.5);
  border-radius: 20px;

}

.about-img{
  //margin: 10px 10px;
  width: 160px;
  display: block;
  padding: 5px;
  background-color: rgba($color-text-bright, 0.4);
  border: 2px solid rgba($color-text-bright, 0.5);
  border-radius: 16px;

}

.about-text-text-div{
  align-self: center;
  padding: 20px;

}

.about-gallery-head{
  text-align: center;
  margin: 60px 0 60px 0;
}
.about-gallery{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;

}
.about-gallery-gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 150px;
  padding: 0 10%;
  background-color: rgba($color-text-bright, 0.4);
  border: 2px solid rgba($color-text-bright, 0.5);
  border-radius: 16px;

}
.about-gallery-gallery >li {
  width: 15%;
  margin: 10px 20px;

}
.about-gallery-gallery >li> img {
    transform: scale(0.7);
}