.about-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about-text{

}

.about-text-flex{
  display: flex;
  flex-direction: column;
  background: #4d537a;
}

.about-text-head{
  text-align: center;
  margin-top:18px;
  margin-bottom: 25px;
}

.about-text-text{
  margin: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba($color-text-bright, 0.3);
  border: 2px solid rgba($color-text-bright, 0.5);
  border-radius: 20px;

}

.about-img{
  width: 140px;
  display: block;
  padding: 5px;
  background-color: rgba($color-text-bright, 0.3);
  border: 2px solid rgba($color-text-bright, 0.5);
  border-radius: 20px;

}

.about-text-text-div{
  align-self: flex-end;
  margin-bottom: 10px;
  padding: 20px;

}

.about-gallery-head{
  text-align: center;
  margin-top: 30px;
}
.about-gallery{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.about-gallery-gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;

}
.about-gallery-gallery >li {
  margin: 20px;
}
.about-gallery-gallery >li> img {}