.about-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.about-text{

}

.about-text-flex{
  display: flex;
  flex-direction: column;
  background: #4d537a;

}

.about-text-head{
  text-align: center;
  margin-top:80px;
  margin-bottom: 120px;
  position: relative;

}
.about-text-head:after{
  @include underLine;
  width:180px;

}


.about-text-text{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba($color-text-bright, 0.3);
  border: 2px solid rgba($color-text-bright, 0.5);
  border-radius: 20px;

}

.about-img{
  width: 160px;
  display: block;
  padding: 5px;
  background-color: rgba($color-text-bright, 0.4);
  border: 2px solid rgba($color-text-bright, 0.5);
  border-radius: 16px;

}

.about-text-text-div{
  align-self: center;
  padding: 20px;

}
//delete??? h3 .techno
//.about-gallery-head{
//
//  text-align: center;
//  margin: 40px 0 30px 0;
//  position: relative;
//}
//.about-gallery-head:after{
// @include underLine;
//  width:280px;
//
//}
.about-gallery{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;


}
.about-gallery-gallery{
  //mt space between techno i about
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 180px;
  padding: 0 10%;
  background-color: rgba($color-text-bright, 0.4);
  border: 2px solid rgba($color-text-bright, 0.5);
  border-radius: 16px;

}
.about-gallery-gallery >li {
  width: 15%;
  margin: 10px 20px;

}
.about-gallery-gallery >li> img {
    transform: scale(0.7);
}