.foot-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.row-foot{
  width: 60%;
}
.row-foot-2{
}
.site-map{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.site-map > li{
  margin: 0 20px;
}
.site-map> li > a{
  color: rgba($color-text-dark,0.4);
}

.site-map> li > a:hover{
  color: rgba($color-text-dark,0.9);
}

.footer-text{
}