.foot-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.row-foot{
  width: 60%;
}
.row-foot-2{
}
.site-map{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 50px;
}
.site-map > li{
  margin: 0 20px;
}
.site-map> li > a{
  color: rgba($color-text-bright,0.8);
  font-size: 16px;
}

.site-map> li > a:hover{
  color: rgba($color-text-bright,0.4);
  border-bottom: 1px solid rgba($color-text-bright,0.4);
}

.footer-text{
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
}
