.foot-flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.row-foot{
  justify-self: center;
  flex-grow: 1;
}
.row-foot-2{
  flex-grow: 2;
}
.site-map{

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.site-map> li > a{
  display: block;
  color: $color-text-dark;


  text-align: center;
}