*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}

body{
  font-family: $fonts;
  font-size: 16px;
}

h2{
  font-size: 36px;
  font-weight: 400;
}

h3{
  font-size: 32px;
  font-weight: 400;
}

section:nth-of-type(odd){
  color:$color-text-bright;
  background-color: $color-main;
}

section:nth-of-type(even){
  color: $color-text-bright;
  background-color: $color-add-on;
}

footer{
  color:$color-text-bright;
  background-color: rgba($color-add-on,0.9);

}


.container{
  width: 80%;
  margin: 0 auto;
}

.about-gallery img{
  width: 100px;
  height: 100px;
}