$color-main: #848ac3;
$color-secondary:#dae9f4;
//$color-add-on:#77919d;
$color-add-on: #4d537a;
$color-text-bright:#dae9f4;
$color-text-dark:#274c5e;

$fonts:'Roboto', Arial, sans-serif;

@mixin underLine{
  content: "";
  display: block;
  height: 2px;
  top:40px;
  left:50%;
  transform: translate(-50%);
  position: absolute;
  background-color: $color-text-bright;
}